[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=sohaib
Group=sohaib
WorkingDirectory=/home/sohaib/app/src/
Environment="PATH=/home/sohaib/app/venv/bin"
EnvironmentFile=/home/sohaib/.env
EnvironmentFile=/home/sohaib/.env
ExecStart=/home/sohaib/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target